node_modules/
_site/
src/_includes/css/
.cache/
*.css.map
src/images/
*.DS_Store

# Don't track Eleventy output (except generated images - see below)
_site/
!_site/images/

# Don't track most build output
_site/
node_modules/
.sass-cache/
# Local Netlify folder
.netlify
