---
layout: base.njk
pageTitle: Message Sent
permalink: /contact-success/
description: "Your message has been sent successfully"
---

<div class="about-content">
  <h1>Thank You</h1>
  <p>
    Your message has been sent. We will get back to you as soon as possible.
  </p>
  <p>
    <a href="/about/">Return to the About page</a>
  </p>
</div>
